<<<<<<< HEAD
<h1>A little about me... Harold Cleworth</h1>
</br>
</br>


<%=image_tag("https://s3-us-west-2.amazonaws.com/haroldcleworthart/HaroldPics/Eric_Schwabel-untitled_0001-91-1.jpg", alt: "Harold Cleworth Image") %>
</br>
</br>
<p>As a young boy, I was raised in northern England. I was surrounded by industrial complexes and machinery. I began my artistic journey drawing and painting the heavy machines and vehicles in my area. With is impressive body of work, I was accepted into the Manchester College of Art.</p>
</br>
<p>After graduation I worked for Decco Records. I was blessed to design record albums for the likes of The Rolling Stones, The Who amongst other notable artists. But I hadn’t found exactly the niche that would feed my soul for decades.</p>
</br>
<p>A few years later I met some amazing Americans at a party in London. After much discussion, I took a wild chance and moved to San Francisco to begin my automotive painting career. The early years were lean, and often I traded paintings for rent. One landlord loved one creation so much, he traded for an entire year’s worth of rent!</p>
</br>
<p>I got my big break with Richard Rubin, a San Francisco car dealer. He commissioned me to paint the new Mercedes Gullwing, a new forward thinking concept where the doors opened upward. This painting was hugely successful and put me on the map.</p>
</br>
<p>I was then sought after from car enthusiasts and corporate commissions from around the world. I developed my super-realism trademark look which would later bestow the title upon me of “Painter Laureate of the Car.”</p>
</br>
<p>I love art. I love to paint. I am in love with he automobile. I hope you enjoy my works as much I enjoy creating them.</p>
</br>
<p>I hope through this website to share a greater snapshot of my 30 years of painting.</p>
</br>
<p><b>Harold</b></p>
</br>
</br>
=======
<h1>ABOUT HAROLD</h1>
<br><br>
<p>
As a young boy, I was raised in northern England. I was surrounded by industrial complexes and machinery. I began my artistic journey drawing and painting the heavy machines and vehicles in my area. With is impressive body of work, I was accepted into the Manchester College of Art.
</p><br><br>
<p>
After graduation I worked for Decco Records. I was blessed to design record albums for the likes of The Rolling Stones, The Who amongst other notable artists. But I hadn’t found exactly the niche that would feed my soul for decades.
</p><br><br>
<p>
A few years later I met some amazing Americans at a party in London. After much discussion, I took a wild chance and moved to San Francisco to begin my automotive painting career. The early years were lean, and often I traded paintings for rent. One landlord loved one creation so much, he traded for an entire year’s worth of rent!
</p><br><br>
<p>
I got my big break with Richard Rubin, a San Francisco car dealer. He commissioned me to paint the new Mercedes Gullwing, a new forward thinking concept where the doors opened upward. This painting was hugely successful and put me on the map.
</p><br><br>
<p>
I was then sought after from car enthusiasts and corporate commissions from around the world. I developed my super-realism trademark look which would later bestow the title upon me of “Painter Laureate of the Car.”
</p><br><br>
<p>
I love art. I love to paint. I am in love with he automobile. I hope you enjoy my works as much I enjoy creating them. 
</p><br><br>
<p>
I hope through this website to share a greater snapshot of my 30 years of painting.
</p><br><br>
Harold
>>>>>>> 15f44cb6ad132c743938dc21f9bf7445b12f30a9
