<h1>Frequently Asked Questions</h1>
</br>
</br>

<h3>How long will it take to recieve my order?</h3>
</br>
<p>A little over two weeks. It takes a little time to get good prints from my printer company and ensure you get a beautiful final product.</p>
</br>
</br>

<h3>How will my item be shipped?</h3>
</br>
<p>By the method you selected at checkout. US Postal Service / UPS or Fedex.</p>
</br>
</br>

<h3>Can I ship to an address other than my billing address?</h3>
</br>
<p>No. At the moment I can only ship to the billing address of the credit card.</p>
</br>



